.banner {
  height: auto;
  padding: 20px;
  background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url(2138.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.searchResults {
  z-index: 1000 !important;
  position: absolute !important;
  width: 100%;
  color: black;
}